body {
  background: none !important;
}

$window-w: 3;

#root {
  z-index: 1;
  position: fixed;
  overflow: hidden;
  border-radius: 4px;
  top: #{$window-w}px;
  left: #{$window-w}px;
  box-sizing: border-box;
  //border: 1px solid #f0f0f0;
  box-shadow: 0 1px 2px #9a9a9a;
  width: calc(100vw - #{$window-w*2}px);
  height: calc(100vh - #{$window-w*2}px);

  > * {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 248, 255);
  }

  * {
    box-sizing: border-box;
  }
}

#app-nav-btn {
  .ant-btn {
    border: none;
    box-shadow: none;
    background: none;
    border-radius: 0;

    &:hover {
      color: rgba(0, 0, 0, .85);
      background-color: #DDDDDD;
    }
  }

  .quit-btn:hover {
    color: #FFFFFF;
    background-color: #F56C6C;
  }
}

.ant {
  &-btn,
  &-tabs-tab,
  &-checkbox-wrapper,
  &-input-affix-wrapper {
    user-select: none;
    -webkit-app-region: no-drag;
  }
}
