.app-sign {
  display: flex;
  flex-direction: column;
  -webkit-app-region: drag; }
  .app-sign__header {
    display: flex;
    padding-left: 8px; }
    .app-sign__header-logo {
      display: flex;
      align-items: center; }
    .app-sign__header-image {
      width: 16px;
      height: 16px; }
      .app-sign__header-image > img {
        width: 100%;
        display: block;
        line-height: 0;
        background-size: contain; }
    .app-sign__header-title {
      margin: 0 0 0 4px !important; }
  .app-sign__body {
    width: 90%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 20px !important;
    justify-content: flex-end;
    margin: 0 auto !important; }
  .app-sign .ant-tabs-nav::before {
    border-bottom-color: #cacaca !important; }
  .app-sign .ant-tabs-nav-wrap {
    justify-content: center; }
