.app-sign {
  display: flex;
  flex-direction: column;
  -webkit-app-region: drag;

  &__header {
    display: flex;
    padding-left: 8px;

    &-logo {
      display: flex;
      align-items: center;
    }

    &-image {
      width: 16px;
      height: 16px;

      > img {
        width: 100%;
        display: block;
        line-height: 0;
        background-size: contain;
      }
    }

    &-title {
      margin: 0 0 0 4px !important;
    }
  }

  &__body {
    width: 90%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 20px !important;
    justify-content: flex-end;
    margin: 0 auto !important;
  }

  .ant-tabs-nav {
    //margin: 20px 0 0 !important;
    &::before {
      border-bottom-color: #cacaca !important;
    }
  }

  .ant-tabs-nav-wrap {
    justify-content: center;
  }
}