.W-chats {
  display: flex;
  background-color: #fafafa;

  &__nav {
    flex: 0 0 auto;
    min-width: 61px;
    max-width: 181px;
    user-select: none;
    background-color: #ffffff;

    &--body {
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  &__body {
    z-index: 3;
    display: flex;
    flex: 2 2 auto;
    position: relative;
    flex-direction: column;
  }

  &__header {
    top: 10px;
    left: 10px;
    height: 65px;
    padding: 10px;
    display: flex;
    position: absolute;
    border-radius: 8px;
    align-items: center;
    width: calc(100% - 20px);
    background-color: #ffffff;
    box-shadow: 0 1px 2px #eaeaea;

    &--avatar {
      display: flex;
      align-items: center;
    }

    &--text {
      padding-left: 4px;
    }

    &--title {
      font-size: 14px;
      font-weight: bold;
      line-height: 25px;
    }

    &--note {
      color: #999999;
      font-size: 10px;
      line-height: 20px;
    }

    &--btn {
      width: 40px;
      height: 40px;
      cursor: pointer;
      user-select: none;
      margin-left: 10px;
      border-radius: 4px;

      &:hover {
        background-color: #eaeaea;
      }

      > span {
        padding: 10px;
        font-size: 20px;
      }

      > sup {
        padding: 0 4px !important;
      }
    }

  }

  &__content {
    flex: 2 2 auto;
    padding: 85px 10px 10px;
  }

  &__editor {
    flex: 0 0 auto;
    min-height: 101px;
    max-height: 301px;
    position: relative;
    background-color: #ffffff;

    &--body {
      overflow-x: auto;
      overflow-y: hidden;
    }

    &--menu {
      height: 31px;
      border-bottom: 1px solid #eeeeee;
    }

    &--context {
      height: calc(100% - 31px) !important;

      > .ql-editor::-webkit-scrollbar {
        width: 8px;
        height: 8px;

        &-thumb {
          width: 8px;
          height: 8px;
          border-radius: 8px;
          background-color: #dddddd;

          &:hover {
            background-color: #aaaaaa;
          }
        }
      }
    }
  }

  &__drawer {
    flex: 0 0 auto;
    max-width: 201px;
    min-width: 151px;
    background-color: #ffffff;
  }
}
