.app-home {
  display: flex;

  &__nav {
    width: 60px;
    height: 100%;
    display: flex;
    padding: 10px 0 0;
    align-items: center;
    flex-direction: column;
    background-color: #282c34;

    .anticon {
      color: #fefefe;
      font-size: 18px;
    }

    &-avarar {
      display: inline-block !important;
      margin: 0 auto;
    }

    &-item {
      width: 100%;
      cursor: pointer;
      padding: 15px 5px;
      text-align: center;
      position: relative;
      transition: color .2s;

      &:hover {
        box-shadow: inset 0 0 10px 10px #2c3c4c;
      }

      &::before {
        top: 0;
        right: 0;
        width: 4px;
        content: '';
        height: 100%;
        border-width: 0;
        position: absolute;
        border-style: solid;
        transition: border .2s;
        border-color: transparent #F56C6C transparent transparent;
      }

      &.active {
        .anticon {
          color: #40a9ff;
          //color: #fefefe;
        }

        &::before {
          border-width: 4px;
        }
      }
    }
  }

  &__body {
    height: 100%;
    overflow: hidden;
    width: calc(100% - 60px);

    > * {
      width: 100%;
      height: 100%;
    }
  }
}
